@media screen and (max-width: 750px) {
    canvas{
        display: block;
    }
    .content-wrapper{
        top: 32%;
    }

    .content-wrapper h1{
        font-size: 2em;
        top: 25%;
        left: 0;
        transform: none;
        text-align: center;
    }
    h2.hpy-bday{
        font-size: 1.5em;
    }
    h2.name-bday{
        font-size: 2em;
    }
    .content-wrapper h2{
        /* font-size: 2em; */
        margin: 0;
        padding: 15px;
        /* top: 42%;
        left: 18%;
        transform: none;
        padding: 32px 18px;
        text-align: center;
        margin: 0; */
    }
    .content-wrapper p{
        font-size: 0.9em;
        left: 0;
        margin: 0;
    }
    
    .content-wrapper__mywish span {
        font-size: 2em;
        padding: 24px;
    }
    .cake-text .text-white{
        font-size: 2rem;
    }
    .text-white p{
        font-size: 1rem;
        text-transform: capitalize;
    }

    .card-wrapper .text-container #head {
        font-size: 1.5em;
        margin: 20px auto 20px auto;
    }
   .card-wrapper p {
        font-size: 1em;
        line-height: 1;
        margin: 15px auto 0px auto;
    }

}
@media screen and (min-width: 990px) {
    canvas{
        width: 100%;
    }
    .content-wrapper__mywish span{
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}