@import url('https://fonts.cdnfonts.com/css/breathing');
body{
    color: #fff !important;
}
main{
    position: absolute;
    width: 100%;
}
.firework-wrapper{
    position: relative;
}
h2, .content-wrapper p{
    position: relative;
    color: #fff;
    font-family: 'Breathing', sans-serif;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 400;
    font-size: 3em;
}
h2.hpy-bday{
    font-size: 5em;
}
h2.name-bday{
    font-size: 3em;
}
.content-wrapper h2{
    /* left: 50%; */
    top: 50%;
    margin: 0;
    padding: 15px;
}
.content-wrapper p{
    font-size: 1.2em;
    font-family: emoji;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 990px;
}
.content-wrapper__mywish span{
    font-size: 4em;
    color: #fff;
    font-family: emoji;
    position: relative; 
}
.img-wrapper__baloons{
    position: absolute;
    top: 0;
}
.img-wrapper__baloons img, .img-wrapper__cartoon img, .cake-img-man img{
    width: 100%;
    position: relative;
    /* top: 0;  */
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
}
.img-wrapper__cartoon img{
    max-width: 200px;
    right: 0;
}
.cake-img-man img{
    max-width: 200px;
    right: 0;
}
.cake-wrapper{
    position: relative;
}
audio{
    display:none;
}
.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mywish-content{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 24px 0;
}
.content-wrapper__mywish{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}
.cake-cutting__btn svg{
    width: 42px;
    height: 42px;
}
.cake-cutting__btn p{
    margin-bottom: 0;
}
.cake-cutting__btn{
    font-size: 16px;
    font-family: emoji;
    padding: 18px;
    border-radius: 10px;
    background: #fff;
    border: 2px solid #000;
    left: 40%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 34px 0;
    width: 100%;
    max-width: 260px;
    margin-right: auto;
    margin-left: auto;
}
.balloon-border {
    position: fixed;
    top: 100%;
    opacity: 0.5;
    z-index: 9999;
}
.cake-cover {
	margin-top: 50px;
    margin-bottom: 50px;
    height: 350px;
    max-width: 990px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@keyframes changewidth {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}
#dynamicContent {
    white-space: nowrap;
}
.fw-semibold {
    font-weight: 600 !important;
}
.justify-content-center {
    justify-content: center !important;
}
.cake-text{
    width: 100%;
    max-width: 990px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: emoji;
    display: none;
    margin-top: 35px;
    margin-bottom: 35px;
}
.cake-text .text-white {
    color: #fff;
    font-size: 5rem;
    line-height: 1.8;
}
#dynamicContent{
    color: yellow;
}
.step-2, .loading-more__wrapper{
    display: none;
}
.loading-more__wrapper p{
    color: #fff;
    margin: 50px 0;
    font-size: 1.2rem;
}
.message {
	margin: 54px 0;
    height: 80px;
}
.message p {
	font-size: 30px;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 2px 2px 2px #FFF;
	display: none;
	font-weight: bold;
}